


<!--Carousel Wrapper-->
<div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel" data-interval="2500">
  <!--Indicators-->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-2" data-slide-to="1"></li>
  </ol>
  <!--/.Indicators-->
  <!--Slides-->
  <div class="carousel-inner" role="listbox"  >
    <div class="carousel-item active">
      <div class="view">
        <img class="d-block w-100" src="../../../assets/img/arbolcaido.jpg"
          alt="First slide">
          <div class="mask rgba-black-strong"></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Es una realidad !</h3>
          <p>No tendremos una sociedad  si destruímos el  medio ambiente...</p>
      </div>
    </div>
    <div class="carousel-item">
      <!--Mask color-->
      <div class="view">
        <img class="d-block w-100" src="../../../assets/img/cuidandoArboles.jpeg"
          alt="Second slide">
        <div class="mask rgba-black-strong"></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Esta es la ciudad donde deberiamos vivir!</h3>
        <p>Cuida tu ciudad!</p>
      </div>
    </div>
  </div>
  <!--/.Slides-->
  <!--Controls-->
  <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  <!--/.Controls-->
</div>
<!--/.Carousel Wrapper-->

<!-- Section: Features v.3 -->
<div class="container">
        <section class="my-5">

                <!-- Section heading -->
                <h2 class="h1-responsive font-weight-bold text-center my-5">Sobre Nostros</h2>
                <!-- Section description -->
                <p class="lead grey-text text-center w-responsive mx-auto mb-5">Cuidando tu ciudad!</p>
              
                <!-- Grid row -->
                <div class="row">
              
                  <!-- Grid column -->
                  <div class="col-lg-5 text-center text-lg-left">
                    <img class="img-fluid" src="../../assets/img/cuidarArbol.jpg" alt="Sample image">
                  </div>
                  <!-- Grid column -->
              
                  <!-- Grid column -->
                  <div class="col-lg-7">
              
                    <!-- Grid row -->
                    <div class="row mb-3">
              
                      <!-- Grid column -->
                      <div class="col-1">
                        <i class="fas fa-share fa-lg indigo-text"></i>
                      </div>
                      <!-- Grid column -->
              
                      <!-- Grid column -->
                      <div class="col-xl-10 col-md-11 col-10">
                        <h5 class="font-weight-bold mb-3">Nuestra Mision</h5>
                        <p class="grey-text">Brindar a la poblacion de Cochabamba oportunidades para una mejor calidad de vida, a traves de proyectos de caracter multidisciplinario
                            , cursos de capacitacion y otros.</p>
                      </div>
                      <!-- Grid column -->
              
                    </div>
                    <!-- Grid row -->
              
                    <!-- Grid row -->
                    <div class="row mb-3">
              
                      <!-- Grid column -->
                      <div class="col-1">
                        <i class="fas fa-share fa-lg indigo-text"></i>
                      </div>
                      <!-- Grid column -->
              
                      <!-- Grid column -->
                      <div class="col-xl-10 col-md-11 col-10">
                        <h5 class="font-weight-bold mb-3">Nuestra Vision</h5>
                        <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit enim ad minima veniam,
                          quis nostrum exercitationem ullam. Reprehenderit maiores aperiam assumenda deleniti hic.</p>
                      </div>
                      <!-- Grid column -->
              
                    </div>
                    <!-- Grid row -->
              
                    <!--Grid row-->
                    <div class="row">
              
                      <!-- Grid column -->
                      <div class="col-1">
                        <i class="fas fa-share fa-lg indigo-text"></i>
                      </div>
                      <!-- Grid column -->
              
                      <!-- Grid column -->
                      <div class="col-xl-10 col-md-11 col-10">
                        <h5 class="font-weight-bold mb-3">Nuestros Objetivos</h5>
                        <ul class="list-group list-group-flush grey-text">
                            <li class="list-group-item">1) Contribiur al desarrollo economico y social de Cochabamba.</li>
                            <li class="list-group-item"> 2) Ayduar al alivio de la pobreza en las poblaciones rurales y urbanas coadyuvando a elevar su calidad de vida.</li>
                            <li class="list-group-item">3) Apoyar a consolidar la formacion academica integral e innovadora a si como la produccion intelectual multidisciplinaria de los estudiantes de ultimo año de la formacion academica a nivel licenciatura en los centros academicos universitarios.</li>
                            <li class="list-group-item">Porta ac consectetur ac</li>
                            <li class="list-group-item">Vestibulum at eros</li>
                          </ul>
                      </div>
                      <!-- Grid column -->
              
                    </div>
                    <!--Grid row-->
              
                  </div>
                  <!--Grid column-->
              
                </div>
                <!-- Grid row -->
              
              </section>
              <!-- Section: Features v.3 -->
</div>
<!-- Services Section -->
<section class="page-section" id="services">
  <div class="container">
    <h2 class="text-center mt-0">Nuestros Servicios</h2>
    <hr class="divider my-4">
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="mt-5">
          <i class="fab fa-4x fa-pagelines text-success mb-4"></i>
          <h3 class="h4 mb-2">Arboles Urbanos</h3>
          <p class="text-muted mb-0">Podras ver las especies de arboles urbanos de diferentes regiones!</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="mt-5">
          <i class="fas fa-4x fa-question text-success mb-4"></i>
          <h3 class="h4 mb-2">Retroalimentarnos!</h3>
          <p class="text-muted mb-0">Podras enviarnos informacion para hacer crecer la pagina!</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="mt-5">
          <i class="far fa-4x fa-handshake text-success mb-4"></i>
          <h3 class="h4 mb-2">Sugerirnos!</h3>
          <p class="text-muted mb-0">Mandarnos sugerencias para mejorar la pagina!</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="mt-5">
          <i class="fas fa-4x fa-file-signature text-success mb-4"></i>
          <h3 class="h4 mb-2">Mandarnos Denuncias!</h3>
          <p class="text-muted mb-0">¿Viste una accion irregular? Puedes mandarnos una denuncia y tener un mejor control del medio ambiente en tu comunidad!</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Contact -->
<section class="page-section" >
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
              <h2 class="mt-0">Mantengamonos en Contacto!</h2>
              <hr class="divider my-4">
              <p class="text-muted mb-5">¿Listo para ayudar a tu comunidad? ¡Llámenos o envíenos un correo electrónico y nos pondremos en contacto con usted lo antes posible!</p>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
              <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
              <div>+1 (202) 555-0149</div>
            </div>
            <div class="col-lg-4 mr-auto text-center">
              <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
              <!-- Make sure to change the email address in anchor text AND the link below! -->
              <a class="d-block" href="mailto:contact@yourwebsite.com">contact@yourwebsite.com</a>
            </div>
          </div>
        </div>
      </section>

<app-footer></app-footer>

