.breadcrumb{
    background-color: white;
}
hr.divider {
    border-width: .3rem;
    border-color: #e0f2f1;
  }
.card-body{
    background-color: #1b5e20;
}

#cont{
    background-color: rgba(0,0,0,.5);
}
#jum{
    background-image: url('../../../assets/img/city.jpg');
    background-size: cover;
    margin-bottom: 0px;
    background-size:100% 100%;
}


#imgHead{
    width: 200px;
    height: 85px;
}
